image: humancellatlas/query-service-build-box:latest

variables:
  ## variables for the build
  AWS_DEFAULT_REGION: us-east-1
  DEPLOYMENT_STAGE: dev
  ## variables for docker
  # When using dind service we need to instruct docker, to talk with the
  # daemon started inside of the service. The daemon is available with
  # a network connection instead of the default /var/run/docker.sock socket.
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#accessing-the-services
  #
  # Note that if you're using Kubernetes executor, the variable should be set to
  # tcp://localhost:2375 because of how Kubernetes executor connects services
  # to the job container
  DOCKER_HOST: tcp://localhost:2375/
  # When using dind, it's wise to use the overlayfs driver for
  # improved performance.
  DOCKER_DRIVER: overlay2

services:
- docker:dind

stages:
- infra
- test
- deploy
- functional_tests

before_script:
  - export IMAGE_TAG=${CI_BUILD_REF_NAME}-$(git describe --tags --always)-${CI_PIPELINE_ID}
  - eval "$(aws ecr get-login --no-include-email)"
  - if [[ integration != "$CI_COMMIT_REF_NAME" && staging != "$CI_COMMIT_REF_NAME" ]]; then
  -   export DEPLOYMENT_STAGE=dev
  - else
  -   export DEPLOYMENT_STAGE="$CI_COMMIT_REF_NAME"
  - fi
  - source environment
  - export AWS_REGION=us-east-1
  - export LC_ALL=C.UTF-8
  - export LANG=C.UTF-8

infra:
  stage: infra
  script:
    - cd terraform/ && make secrets gitlab-init plan

test:
  stage: test
  script:
    - cd query/ && make install test report
    - export CODECOV_TOKEN=$(aws secretsmanager get-secret-value --secret-id dcp/query/_/codecov_token.txt | jq -r .SecretString)
    - cd .. && bash <(curl -s https://codecov.io/bash)

deploy:
  stage: deploy
  only:
    refs:
      - master
      - integration
      - staging
  script:
    - cd terraform && make secrets gitlab-init
    - cd ../query && make deploy

functional_tests:
  stage: functional_tests
  script:
    - cd query && make install functional-tests
