# Compiled files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*tfvars
*.terraform.tfstate

# Module directory
.terraform/
terraform/**/terraform.d

# legacy
.rato_pass

# Pycharm folder
.idea

__pycache__/
venv/
virtualenv/

tags


chalice/.chalice/deployments/
chalice/.chalice/venv/
chalice/vendor/
chalice/chalicelib/

/config/environment.dev
load_data_lambda/load_data.zip
load_data_lambda/target/*
load_data_lambda/vendor/*

.coverage

target/
load_data.zip
create_async_query.zip
vendor/
