image: ubuntu:bionic

variables:
  AWS_DEFAULT_REGION: us-east-1
  AWS_DEFAULT_OUTPUT: json
  DEBIAN_FRONTEND: noninteractive

stages:
  - test
  - deploy
  - integration_test

before_script:
  - source /etc/profile
  - apt-get update > /dev/null
  - apt-get install --yes sudo jq moreutils gettext make virtualenv postgresql > /dev/null
  - service postgresql start
  - sudo -u postgres createuser --superuser $(whoami)
  - virtualenv --python=python3.6 v
  - source v/bin/activate
  - pip install --quiet -r requirements-dev.txt
  - source environment
  - make build-chalice-config init-db load-test-data

test:
  stage: test
  script:
    - make test

deploy:
  stage: deploy
  only:
    refs:
      - master
      - integration
      - staging
  script:
    - make deploy

integration_test:
  stage: integration_test
  script:
    - make integration_test
