aegea
alembic
# aws-sam-translator pinned due to jsonschema subdependency version conflict
aws-sam-translator >= 1.11, < 1.12
chalice
coverage
furl
flake8
mypy
psycopg2-binary
recommonmark
sqlalchemy-utils
sphinx
-r requirements.txt.in
